body {
    background-color: #f9e8ea !important;
    background-image: url(https://www.codelikeagirl.com/dist/34d99bf401327fe2af6a510abe672db1.png);
    background-size: 13%;
    font-size: 19px;
    font-family: 'Anek Telugu', sans-serif;;
}


h1 {
    display: block;
    font-size: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
    color: darkviolet;
    font-family: 'Raleway', sans-serif;
}
h2 {
    color:deeppink
}
h3 {
    color:teal
}

* {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur267.cur), auto !important;} 


a:link, a:visited {
    background-color: #db7093;
    border-radius: 25px;
    color: #ffffff;
    padding: 5px 20px;
    font-weight: 700;
    text-transform: uppercase ;
    border-style: solid;
    border-color: #db7093;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #00000000;
    border-style: solid;
    border-color: #db7093;
    color: #db7093;font-weight: 800;
  }

  ul {
    list-style-type: circle;
  }

  img {
    border: 3px dotted #db7093;
    padding: 15px;
    border-radius: 25px;

  }
  
  
